@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
html, body{
    scroll-behavior: smooth;
}
body{
    background: #212121;
    color: #cfd8dc;
}
.fakeimg {
    height: 200px;
    background: #aaa;
}
.section{
    padding: 25px;
}
.page-title{
    font-size: 25px;
    text-align: center;
    border: 2px solid #b0bec5;
    color: white;
    padding: 10px;
    margin: 10px;
}
.sticky_menu{
    position: sticky;
    top: calc(56px);
}
.side-menu, .side-content{
    padding-top: 10px;
}
#side{
    margin: 0;
    padding: 0;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 104px);
}

#side>div{
    margin-bottom: 20px;
}

#side_menu{
    margin: 0;
    /*margin-bottom: 20px;*/
    padding: 15px;
    /*background: white;*/
    /*border-radius: 10px;*/
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.side-menu-header>h4{
    font-size: 1.25em;
    /*margin-bottom: 0;*/
    font-weight: bold;
    /*border-bottom: 2px solid #fd9b07;*/
    /*color: #fd8407;*/
    /*margin: 10px 25px;*/
    /*padding-bottom: 10px;*/
}
.side-menu-content{
    /*overflow: auto;*/
    /*padding-top: 10px;*/
}
.side-menu-content>ul{
    list-style: none;
    padding: 0;
    /*overflow-y: auto;*/
    /*box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.2);*/
    /*list-style: none;*/
    /*background-color: #f1f1f1;*/
    /*margin:20px 20px 30px 20px;*/
    /*padding-top: 20px;*/
    /*flex-direction: column;*/
}
.side-menu-content>ul li{
    /*margin-top: 5px;*/
    /*background-image:*/
    /*        linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 0%);*/
    /*background-position: bottom left;*/
    /*background-size: 10px 1px;*/
    /*background-repeat: repeat-x;*/
    /*margin-left: 40px;*/
    /*margin-right: 30px;*/
    /*padding-left: 15px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*border-bottom: 1px dashed #fd8407;*/
    position: relative;
}
/*.side-menu-content>ul li:last-child {*/
/*    background-image: unset;*/
/*    background-position: unset;*/
/*    background-size: unset;*/
/*    background-repeat: unset;*/
/*}*/
.side-menu-content>ul li:before {
    /*font-family: FontAwesome;*/
    /*!*content: "\f054"; !* FontAwesome Unicode *!*!*/
    /*content: "\f0da"; !* FontAwesome Unicode *!*/
    /*color: black;*/
    /*display: inline-block;*/
    /*margin-left: -15px; !* same as padding-left set on li *!*/
    /*width: 10px; !* same as padding-left set on li *!*/
    /*top: 5px;*/
    /*position: absolute;*/
}
.side-menu-content>ul li>span a, .news-content>ul li>a a{
    /*color: #fd8407;*/
}
.side-menu-content>ul li>a, .news-content>ul li>span{
    text-decoration: none;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    /*color: #1a1a1a!important;*/
    /*display: inline-block;*/
    /*margin-top: 5px;*/
    /*font-size: 1em;*/
    /*font-weight: normal;*/
    /*border-bottom: 1px solid transparent;*/
    /*transition: border 0.2s ease 0s;*/
}
.side-menu-content>ul li>a{
    transition: all 0s ease-in-out;
    padding: 5px 10px;
    /*padding-left: 10px;*/
    color: #ececec;
}
.side-menu-content>ul li:hover>a{
    margin-left: -5px;
    border-left: solid 5px white;
}
.side-menu-content>ul li>a.active{
    margin-left: -5px;
    border-left: solid 5px white;
    /*border-radius: 5px;*/
    /*padding-top: 2px;*/
    background: #424242;
    color: white;
    /*font-weight: 700;*/
    /*padding-bottom: 2px;*/
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}
.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}
.content-title{
    margin-bottom: 20px;
}
.content-sub-title{
    margin-bottom: 10px;
    font-size: 1.5em;
}
.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
    color: #ff6b79;
}
.text-orange{
    color: #fb8c00;
}
.hash>li{
    list-style-type: "# ";
}
.side-menu-header{
    color: white;
}
.side-menu-header>h4{
    border-bottom: 2px solid #b0bec5;
}
.logo-img img{
    max-width: 200px;
    max-height: 100px;
}
.title-img>img{
    border: 2px solid #b0bec5;
}
.content-title, .content-sub-title{
    color: white;
}
.spaced-ul>li{
    padding-bottom: 15px;
}
b{
    color: white;
}
a:hover{
    color: #80d8ff;
}
a{
    color: #40c4ff;
}
.navbar-brand {
    color: white;
    font-family: 'Raleway';
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.navbar-dark .navbar-nav .nav-link{
    color: #eceff1;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: white;
}
.navbar-dark .navbar-nav .nav-item:after{
    content: "";
    height: 2px;
    width: 0;
    bottom: 10px;
    left: 18px;
    position: absolute;
    background: white;
    transition: all 0.2s ease-in-out;
}
.navbar-dark .navbar-nav .nav-item:hover:after{
    width: calc(100% - 36px);
}
.navbar-dark .navbar-nav .nav-item{
    position: relative;
}
.navbar-dark .navbar-nav .nav-item.active{
    font-weight: bolder;
}
.navbar-dark .navbar-nav .nav-item.active:after {
    transition: all 0.2s;
}
.navbar-dark .navbar-nav .nav-item.active:after{
    content: "";
    height: 2px;
    width: calc(100% - 36px);
    bottom: 10px;
    left: 18px;
    position: absolute;
    background: white;
}
.dropdown-menu a{
    color: #eceff1!important;
}
.dropdown-menu a:hover{
    color: white;
    background: #455a64;
}
.dropdown-menu{
    background: #343a40;
    border-radius: 0;
    border: none;
}
.navbar{
    padding: 0;
}
.navbar-dark .navbar-nav .nav-link{
    padding: 15px 20px;
}
.navbar-brand{
    padding: 5px 20px;
    font-weight: bolder;
    font-size: 1.5em;
}
.custom-card{
    background: #263238;
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
}
.custom-card>div>div{
    padding: 2px 10px;
}
.underline{
    position: relative;
}
.underline:after{
    content: "";
    background: white;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.dropdown-menu{
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 90%;
    transition: all 0.2s ease-in-out;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.name{
    font-size: 1.15em;
}
.name, .dept{
    text-align: center;
}
.waypt-animate{
    opacity: 0;
    visibility: hidden;
}
.bg-w{
    background: rgb(255,255,255);
    padding: 5px;
    border-radius: 5px;
}